<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>  
        </head>
<body>
    <%- include('navar'); %>

    <div class="container">
        <div class="row">
            <div class="col-xs-10 ">
            <br>
            </div>

            <div class="alert alert-info" role="alert">
              <h1><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-journal-code" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg>  CURSOS:</h1>
            </div>
        </div>
 <a style="float: right;" class="btn btn-success" href="/api/curso/nuevoCurso" >Nuevo Curso:</a>
       <br>
       <div class="container">
        <br>
    <hr>
    <br>
        <table class="table">
            <thead class="table table-dark">       
              <tr>
                <th scope="col">Clave:</th>
                <th scope="col">Nombre:</th>
                <th scope="col">Descripcion:</th>
                <th scope="col">Cantidad:</th>
                <th scope="col">Precio:</th>
                <th scope="col">Acciones:</th>
              </tr>
            </thead>
            <tbody>
            <%if (!error) {%>
                 <% cursos.forEach(function(producto){ %>
                <tr>
                    <td><%= producto.claveProducto%></td>
                    <td><%= producto.nombre%></td>
                    <td><%= producto.descripcion%></td>
                    <td><%= producto.cantidad%></td>
                    <td><%= producto.precio%></td>
                    <td>
                        <a class="btn btn-warning" href="/api/curso/editarCurso/<%= producto._id%>" >Editar</a>
                        <a class="btn btn-danger" href="/api/curso/deleteCurso/<%= producto._id%>" >Eliminar</a>
                    </td>
                </tr>
                <% }); %>
                <% } %>
            <%if(error) {%>
            <p><%= mensaje%></p>
            <%  }%>
            </tbody>
          </table>
    </div>
    </div>



      <script>
       
    </script>

    
</body>


</html>